.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.c {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    background-color: rgb(10, 10, 10);
    color: white;
    box-shadow: 1px 1px 5px rgb(104, 104, 104);
    font-family: 'Orbitron', sans-serif;
}
.c:hover {
    box-shadow: inset 1px 1px 5px rgb(104, 104, 104);
}
#s {
    caret-color: white;
    border: none;
    height: 60px;
    width: 260px;
    overflow-x:auto;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0);
    direction: ltr;
    text-align: right;
    padding-right: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#calc {
    margin-top: 3vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
    width: 50vh;
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid gray;
    border-top: 6px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
.loader-screen {
    position: fixed;
    inset: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
@media (max-width: 600px) {
    #calc {
        margin-top: 3vw;
        width: 80vw;
        height: 120vw;
    }
    .c {
        height: 60px;
        width: 60px;
        font-size: 25px;
    }
    #s {
        width: 70vw;
        height: 50px;
        font-size: 25px;
    }
}